<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CV21 REST - TP8</title>
    <style>
      img {
        height: 200px;
        width: 400px;
      }
    </style>
  </head>
  <body>
    <img
      th:src="@{images/index-logo.png}"
      alt="Logo de l'université de Rouen Normandie"
    />
    <h1>CV21REST</h1>
  
    <h3>Version 1.0</h3>
    <table>
      <tr>
        <td>
    Etudiant 1 :</td> <td>Prenom : Nouhaila </td>
    <td></td><td></td><td></td><td>
      Etudiant 2 :</td> <td>Prenom : Ali </td>
  </tr>
  <tr>
    <td></td>
    <td>Nom : MELLOUKI</td>
    <td></td><td></td><td></td><td></td>
    <td>Nom : BENYOUCEF</td>
  </tr>
  <tr>
    <td>
</tr>
<tr>

</tr>
    
   
  </table>
  </body>
</html>
